.mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 100px;
  border-radius: 4px;
}


.mat-card {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-card {
  
  color: rgba(0,0,0,.87);
}
.mat-card {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-tab-group
{
font-size: xx-large;
}