<div style="text-align: center;font-size: xx-large;color:peru">
  <h1 class="welcomenote" style="text-align: center;font-size: xx-large;color:peru"> <strong>Royal Sundaram</strong>
    Offers Comprehensive Insurance Packages </h1>
</div>

<body background="https://i.pinimg.com/originals/3c/07/51/3c0751d8b348e811f4e0ed8a8dac494c.jpg">
  <br>
  <br>
  <br>
  <br>
  <div>
    <div>
      <div>
        <mat-card>
          <mat-tab-group>
            <mat-tab label="New Policy">
              <img src="https://image.shutterstock.com/image-vector/insurance-policy-icon-260nw-605535554.jpg">
              <a routerLink="/services" class="btn btn-link">
                <h2>Create a New Policy!</h2>
              </a></mat-tab>
            <mat-tab label="Existing Policy">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLAnbCAMaMuTbu_dq2yinlBBnZfTvkFPMSXAz5p7ym676JmI9l"
                width="200" height="200">
              <a routerLink="/login" class="btn btn-link">
                <h2>Existing Policy!</h2>
              </a></mat-tab>
            <mat-tab label="Renew Policy">
              <img
                src="https://image.shutterstock.com/image-vector/flat-icon-cyclic-rotation-recycling-260nw-1415545238.jpg"
                width="200" height="200">
              <a routerLink="/login" class="btn btn-link">
                <h2>Renew Your Policy By Your Policy Number!</h2>
              </a></mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>