<!-- <body background="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSsSvu3eZWKvUKpYDv5BfdzJSoaOsy1Xis5jFAcCarjt6B6zV9L"> -->
<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <h1 style="text-align: center;">Vehicle Details</h1>
  </span>
</mat-toolbar>
<br>

<br>
<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

 <mat-form-field class="form-element">
      <input matInput placeholder="User Id" formControlName="id">
      <mat-error *ngIf="!formGroup.controls['id'].valid && formGroup.controls['id'].touched">
        <p>This Field is required</p>
      </mat-error>
    </mat-form-field> 
    <br>

    <mat-form-field class="form-element">
      <input matInput placeholder=" Registartion Number" formControlName="registration_number">
      <mat-error *ngIf="!formGroup.controls['registration_number'].valid && formGroup.controls['registration_number'].touched">
        {{ getErrorRegister_number() }}
      </mat-error>
    </mat-form-field>
    <!-- MP 09 AB 1234 -->
    <br>

    <mat-form-field class="form-element">
      <input matInput placeholder=" Chassis Number" formControlName="chassis_number">
      <mat-error *ngIf="!formGroup.controls['chassis_number'].valid && formGroup.controls['chassis_number'].touched">
        {{ getErrorChassis_number() }}
      </mat-error>
    </mat-form-field>
    <!-- WMWSY9C59ET123456     17 digit-->
    <br>
    <mat-form-field class="form-element">
      <input matInput placeholder=" Engine Number" formControlName="engine_number">
      <mat-error *ngIf="!formGroup.controls['engine_number'].valid && formGroup.controls['engine_number'].touched">
        {{ getErrorEngine_number() }}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input type="text" formControlName="vehicle_model" placeholder="Vehicle Model" aria-label="Number" matInput
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">

        <mat-option *ngFor="let color of lstcomments" [value]="color.vehicle_model">{{color.vehicle_model}}</mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="!formGroup.controls['vehicle_model'].valid && formGroup.controls['vehicle_model'].touched">
        <p>This Field is required</p>
      </mat-error>
    </mat-form-field>

    <br>
    <br>
   

      <mat-form-field>
      <mat-label>Registration Place</mat-label>
      <mat-select formControlName="registration_place">
        <mat-option *ngFor="let place of registration_place" [value]="place.registration_place">
          {{place.registration_place}}</mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.controls['registration_place'].valid && formGroup.controls['registration_place'].touched">
        <p>This Field is required</p>
      </mat-error>
    </mat-form-field>  
    <br>
    <br>
    <mat-form-field>
      <mat-label>Manufacturing Year</mat-label>
      <mat-select formControlName="manufacturing_year">
        <mat-option *ngFor="let manufacturing_year of manufacturing_year" [value]="manufacturing_year.manufacturing_year">{{manufacturing_year.manufacturing_year}}</mat-option>

      </mat-select>
      <mat-error *ngIf="!formGroup.controls['manufacturing_year'].valid && formGroup.controls['manufacturing_year'].touched">
        <p>Field is required</p>
      </mat-error>
    </mat-form-field>


    <br>
    <br>
    <mat-form-field>
      <mat-label>Seating Capacity</mat-label>
      <mat-select formControlName="seating_capacity">
        <mat-option *ngFor="let seating_capacity of seating_capacity" [value]="seating_capacity.seating_capacity">{{seating_capacity.seating_capacity}}</mat-option>

      </mat-select>
      <mat-error *ngIf="!formGroup.controls['seating_capacity'].valid && formGroup.controls['seating_capacity'].touched">
        <p>Field is required</p>
      </mat-error>
    </mat-form-field>
    <br>
    <br>

    <mat-form-field>
      <mat-label>Engine Capacity</mat-label>
      <mat-select formControlName="engine_capacity">
        <mat-option *ngFor="let engine of engine_capacity" [value]="engine.engine_capacity">{{engine.engine_capacity}}</mat-option>

      </mat-select>
      <mat-error *ngIf="!formGroup.controls['engine_capacity'].valid && formGroup.controls['engine_capacity'].touched">
        <p>Field is required</p>
      </mat-error>
    </mat-form-field>

    <br>
    <br>


    <mat-form-field>
      <mat-label>Vehicle Colour</mat-label>
      <mat-select formControlName="vehicle_color">
        <mat-option *ngFor="let vehicle_color of vehicle_color" [value]="vehicle_color.vehicle_color">{{vehicle_color.vehicle_color}}</mat-option>

      </mat-select>
      <mat-error *ngIf="!formGroup.controls['vehicle_color'].valid && formGroup.controls['vehicle_color'].touched">
        <p>Field is required</p>
      </mat-error>
    </mat-form-field>


    
 

    <br>
 
    <br>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" ><a>Submit Form</a></button>
    </div>

  </form>

</div>
