<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1" style="background-color: #000066

;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    
        <img src="https://www.royalsundaram.in/o/RS_Landing/images/Home_page_Logo.png"
          alt="Royal Sundaram General Insurance Company" class="img-responsive hidden-xs inner_logo"
          style="max-width: 100%;">
   
    <div class="spacer"></div>
    <ul>

    </ul>
    <ul class="navbar-nav mr-auto">
      <li>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="background-color: 
    #000066

;font-size: medium;font-family: roboto;">
          INSURANCE
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-body">
                <div>
                  <h3 style="font-style: roboto;"><img
                      src="https://hdwallsource.com/img/2014/9/white-jaguar-car-wallpaper-45155-46328-hd-wallpapers.jpg"
                      alt="Italian Trulli" width="100" height="100">


                    <a href="" class="btn btn-link">Car Insurance

                    </a></h3>
                </div>

                <div>
                  <h3> <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROoWMMOqRDsHAh65mjCvTmWkP9lmRbAjqCXqcnedhlaDvp4Vzk"
                      alt="Italian Trulli" width="100" height="100"> <a href="">Two-wheeler Insurance</a></h3>
                </div>
                <div>
                  <h3><img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQRVf5k_IOWqVwEsG9tdt-4ZTiMn6RbNloAEcO42QHjJSO9BsXW"
                      alt="Italian Trulli" width="100" height="100">
                    <a href="">Home Insurance</a></h3>
                </div>
                <div>
                  <h3> <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX18172811.jpg" alt="Italian Trulli"
                      width="100" height="100"><a href="">Travel Insurance</a></h3>
                </div>
                <div>
                  <h3> <img
                      src="https://media.istockphoto.com/vectors/heart-with-cardiogram-sketch-hand-drawn-doodle-icon-vector-id866322484"
                      alt="Italian Trulli" width="100" height="100"> <a href="">Health Insurance</a></h3>
                </div>
                <div>
                  <h3> <img src="https://image.flaticon.com/icons/svg/1576/1576483.svg" alt="Italian Trulli" width="100"
                      height="100"> <a href="">Personal Accident Insurance</a></h3>
                </div>
                <div>
                  <h3> <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX18172899.jpg" alt="Italian Trulli"
                      width="100" height="100"> <a href="">Business Insurance</a></h3>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  style="background-color: mediumturquoise;">Close</button>

              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item"><a class="nav-link" href="#!account">
          <h3 style="font-family: roboto;font-style: roboto;color: white;">INSTA RENEW</h3>
        </a></li>
      <li class="nav-item"><a class="nav-link" href="#!account">
          <h3 style="font-family: roboto;font-style: roboto;color: white;">BLOGS</h3>
        </a></li>
      <li class="nav-item"><a class="nav-link" href="#!account">
          <h3 style="font-family: roboto;font-style: roboto;color: white;">ABOUT US</h3>
        </a></li>
      <li class="nav-item"><a class="nav-link" href="#!account">
          <h3 style="font-family: roboto;font-style: roboto;color: white;">CONTACT US</h3>
        </a></li>
      <li class="nav-item"><a class="nav-link" href="#!account">
          <h3 style="font-family: roboto;font-style: roboto;color: white;">MY TRANSACTION</h3>
        </a></li>
      <li class="nav-item"><a class="nav-item nav-link" (click)="logout()">
          <h3 style="font-family: roboto;font-style: roboto;color: white;">LOGOUT</h3>
        </a></li>
    </ul>

  </div>
</nav>

<br>
<div>
  <h1 style="font-size: xx-large;font-style:1000 24px/32px Roboto,Helvetica Neue,sans-serif;text-align: center;font-weight: bolder;color:orangered">Welcome To Royal Sundaram
    Insurance Co. Limited</h1>
    
</div>





<div >



  <!-- <alert></alert> -->
  <router-outlet></router-outlet>

</div>
