
  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  .container {
    padding: 10px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.background
{
   background-repeat: no-repeat;
}
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-form {
    width: 100%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  /* .cont{
    position: relative;
    width: 10%;
    height: 450px;
    padding: 10px 25px;
    margin: 10vh auto;
    background: #fff;
    border-radius: 8px;
  } */