<body background="https://i.pinimg.com/originals/3c/07/51/3c0751d8b348e811f4e0ed8a8dac494c.jpg">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 style="font-family: roboto;color:crimson;text-align: center;">Car Insurance!!</h1>
        <h2 style="text-align: center;">The only car insurance with the promise of total protection</h2>
      </div>

      <div class="carousel-item">
        <h1 style="font-family: roboto;color:goldenrod;text-align: center;">Two-Wheeler Insurance!!</h1>
        <h2 style="text-align: center;">Enjoy your 3 year insurance cover with us</h2>
      </div>

      <div class="carousel-item">
        <h1 style="font-family: roboto;color:indigo;text-align: center;">Travel Insurance!</h1>
        <h2 style="text-align: center;">Because every minute counts</h2>
      </div>

      <div class="carousel-item">
        <h1 style="font-family: roboto;color:olive;text-align: center;">Health Insurance!</h1>
        <h2 style="text-align: center;">Buy or Renew your Health Insurance Policy instantly without any paperwork</h2>
      </div>

      <div class="carousel-item">
        <h1 style="font-family: roboto;color:orange;text-align: center;">Home Insurance!</h1>
        <h2 style="text-align: center;">A holistic home insurance cover with us</h2>
      </div>

      <div class="carousel-item">
        <h1 style="font-family: roboto;color:lightcoral;text-align: center;"> Personal Accident Insurance!</h1>
        <h2 style="text-align: center;">Accident Insurance For Protection against Accidents for just Rs. 2 per day!</h2>
      </div>

      <div class="carousel-item">
        <h1 style="font-family: roboto;color:mediumblue;text-align: center;"> Notify Claims!</h1>
        <h2 style="text-align: center;">Your claim, our priority</h2>
      </div>

      <div class="carousel-item">
        <h1 style="font-family: roboto;color: indianred;text-align: center;"> Customer Service Request!</h1>
        <h2 style="text-align: center;">Happy to help as you are the center of everything we do</h2>
      </div>
    </div>
  </div>

  <!-- card row div start-->
  <div class="row" style="margin-bottom: 5px;">
    <!-- card column div start -->
    <div class="col-lg-3">
      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]="faCar"></fa-icon>
            <!-- <h4>Car</h4>  -->
            <a routerLink="/models" class="btn btn-link">Car

            </a>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]="faMotorcycle"></fa-icon>
            <h4>Two-Wheeler</h4>
          </div>
        </div>
      </mat-card>

    </div>
    <!-- card column div closed -->
    <!-- card column div again start -->
    <div class="col-lg-3">
      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]="faHome"></fa-icon>
            <h4>Home</h4>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]=" faHeartbeat" hspace="30"></fa-icon>
            <h4>Health</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- card column div again closed -->
    <!-- card column div again start -->
    <div class="col-lg-3">
      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]="faPlaneDeparture"></fa-icon>
            <h4>Travel</h4>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]="faCarCrash"></fa-icon>
            <h4>Personal Accident</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- card column div again closed -->
    <!-- card column div again start -->
    <div class="col-lg-3">
      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]="faHeadset"></fa-icon>
            <h4>Customer Service </h4>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="icon">
          <div class="sub-icon">
            <fa-icon [icon]="faBell"></fa-icon>
            <h4>Notification Claims</h4>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- card column div again closed -->
  </div>
  <!-- card row div finally closed-->
  <div>
  </div>
  <br>
  <br>

  <body background="https://i.pinimg.com/originals/3c/07/51/3c0751d8b348e811f4e0ed8a8dac494c.jpg">
    <div style="color:white">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </body>
  <div>
    <h1 style="font-size: xx-large;color:darkorange;text-align: center;">Why Royal Sundaram?</h1>
  </div>
  <br>


  <div class="media">

    <img class="mr-3"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuqaEF_NWfVLk9_DtHIR5fMV5txdeRFHwB6nmzxf-qgLLvAe91"
      width="120" height="120" alt="Generic placeholder image">
    <div class="media-body">


      <h2 class="reasontextfont" style="color:darkorange">Quality service is important. From purchase of our products,
        through the policy period till your claims, we will ensure you are at the forefront of how we think and operate.
      </h2>






    </div>
  </div>
  <br>
  <div class="media">

    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQRBOmWIx176YQ_4DboqS5gFJ6ZD6Z_U8fOBBk9wLT7O1Z177uW"
      width="120" height="120" alt="Generic placeholder image">
    <div class="media-body">


      <h2 class="reasontextfont" style="color:darkorange">We are part of ‘Sundaram’, the most trusted brand.We operate
        with a set of values that we call the ‘Sundaram Way’. These help us serve discerning customers like you to the
        best of our abilities, always.</h2>






    </div>
  </div>
  <br>
  <div class="media">

    <img class="mr-3"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSK4Qbrg8gtpSDeG5rAEipcJMdhGv7ekqmUBjio1c4ms1KCfSnC"
      width="120" height="120" alt="Generic placeholder image">
    <div class="media-body">


      <h2 class="reasontextfont" style="color:darkorange">Our People!Our edge comes from our people. It is our people
        who make a meaningful difference to you and the world around us. We are a team of 2000 plus employees and our
        products are distributed across 130 cities.</h2>







    </div>
  </div>
  <br>
  <!-- <div class="media">

    <img src="https://cdn4.vectorstock.com/i/thumb-large/51/08/pinky-promise-symbol-vector-19155108.jpg" width="120"
      height="120" alt="Generic placeholder image">
    <div class="media-body">


      <h2 class="reasontextfont" style="color:darkorange">Our ‘Promise’.Each of our policy represents our ‘promise’ to
        best serve you. Our Accident and Health claims process has received ISO 9001-2015 for customer service. We have
        won the ‘Celent Model Insurer Asia Award’ for intelligent claims management system.</h2>







    </div>
  </div> -->


  <br>
  
  <div>
    <h1 class="mainheadingblack h3_underline" style="color:saddlebrown;text-align:center;font-size: xx-large;">Customer
      Services</h1>

  </div>
  <br>
  <br>

  <body style="background-color:cadetblue;">
    <div class="row" style="margin-bottom: 5px">
      <!-- card column div start -->
      <div class="col-lg-4" style="max-width: 30%;">
        <mat-card>
          <div>
            <img
              src="https://images.squarespace-cdn.com/content/v1/57da34d9e3df28673b3c195d/1486672461333-34NAKI4YCQ1DTV93Y61C/ke17ZwdGBToddI8pDm48kGDpvalPb1SqHoCn1hwN0Y57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmQPoRzxSr1hzN-vPBHt7YyLLXgctAyUJRqJUUGWVDK_ZzIgvsybGcZEPqUYiXY8im/service-request.png?format=1500w"
              width="100" height="100">
            <h1>Service Request</h1>
            <h2 class="servicerequest_data">Want to make a Service Request? Please select the service you need and fill
              in the details and you will get a response on your request in 2 working days.</h2>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-4">
        <mat-card>
          <div>
            <img src="https://irp-cdn.multiscreensite.com/2d8ae3e5/dms3rep/multi/mobile/6.png" width="100" height="100">
            <h1>Request for Do Not Call</h1>
            <h2 class="servicerequest_data">If you do not wish to be informed about such benefits through telephone
              calls, you may register with us in the "Do Not Call" service to exclude your name from our telemarketing
              services.</h2>
          </div>
        </mat-card>

      </div>
      <div class="col-lg-4">
        <mat-card>
          <div>
            <img
              src="https://iconsplace.com/wp-content/uploads/_icons/ffa500/256/png/clipboard-icon-11-256.png"
              width="100" height="100">
            <h1>Grievance Redressal</h1>
            <h2 class="servicerequest_data">
              <p class="servicerequest_data">If you are not satisfied with our service and require a better resolution
                to your problem, please raise a complaint with us, and we would come back to you with a response within
                2 business days.</p>
            </h2>
          </div>

        </mat-card>
      </div>
    </div>
  </body>